@model IEnumerable<RoShop.Models.Product>

<a asp-controller="Product" asp-action="Create" class="btn btn-success btn-lg m-lg-3">Create</a>
<br />
<div class="card-columns">

  @foreach (var product in Model)
  {
    <div class="col mb-4">
      <div class="card">
        <img class="card-img-top" src="data:image/jpeg;base64,
             @Convert.ToBase64String(product.ProductFile.DataFiles)" />
        <div class="card-body">
          <h5 class="card-title">@product.Name</h5>
          <p class="card-text">Price: @product.Price</p>
          <p class="card-text">Description: @product.Description</p>
          <a asp-controller="Product" asp-action="Delete" asp-route-Id="@product.Id" class="btn btn-danger mx-1">Delete</a>
        </div>
      </div>
    </div>
  }

</div>

