@model ProductCommentViewModel

  <!DOCTYPE html>
  <html lang="en">
  <head>
  @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Model.Product.Name </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="card">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="preview col-md-6">

              <div class="preview-pic tab-content">
                <img width="300" height="300" class="img-thumbnail" src="data:image/jpeg;base64,
             @Convert.ToBase64String(@Model.Product.ProductFile.DataFiles)" />
              </div>
              @*<ul class="preview-thumbnail nav nav-tabs">
                <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
              </ul>*@

            </div>
            <div class="details col-md-6">
              <h3 class="product-title">@Model.Product.Name</h3>
              <div class="rating">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span class="review-no">41 reviews</span>
              </div>
              <p class="product-description">@Model.Product.Description</p>
              <h4 class="price">current price: <span>@Model.Product.Price</span></h4>
              @*<h5 class="sizes">
                sizes:
                <span class="size" data-toggle="tooltip" title="small">s</span>
                <span class="size" data-toggle="tooltip" title="medium">m</span>
                <span class="size" data-toggle="tooltip" title="large">l</span>
                <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
              </h5>*@
              @*<h5 class="colors">
                colors:
                <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                <span class="color green"></span>
                <span class="color blue"></span>
              </h5>*@
              <div class="action">
                <button class="add-to-cart btn btn-default" type="button">Add to cart</button>
                <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
              </div>
              <div>
                <a asp-controller="Product" asp-action="Index" class="btn btn-success btn-lg m-lg-3">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <h4>Write a review</h4>
          <div class="input-group">
            <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
            <span class="input-group-btn" onclick="addComment()">
              <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
            </span>
          </div>
          <hr data-brackets-id="12673">
          <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
            <strong class="pull-left primary-font"></strong>
            <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span>
            </small>
            </br>
            <li class="ui-state-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
          </ul>
        </div>
      </div>
  </body>
</html>
