@model ProductCommentViewModel

  <!DOCTYPE html>
  <html lang="en">
  <head>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Model.Product.Name </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="card">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="preview col-md-6">

              <div class="preview-pic tab-content">
                <img width="500" height="500" class="img-thumbnail" src="data:image/jpeg;base64,
             @Convert.ToBase64String(@Model.Product.ProductFile.DataFiles)" />
              </div>
            </div>
            <div class="details col-md-6">
              <h3 class="product-title">@Model.Product.Name</h3>
              <div class="rating">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span class="review-no">41 reviews</span>
              </div>
              <p class="product-description">@Model.Product.Description</p>
              <h4 class="price">current price: <span>@Model.Product.Price</span></h4>
              <div class="action">
                <button class="add-to-cart btn btn-default" type="button">Add to cart</button>
                <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
              </div>
              <div>
                <a asp-controller="Product" asp-action="Index" class="btn btn-success btn-lg m-lg-3">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
      <div class="container">
        <div class="col-lg-4 col-sm-6 text-center">
          <div class="well">
            <h4>Write a review</h4>
            <form asp-action="ViewDetails" method="post">
              <input asp-for="@Model.IdProduct" hidden />
              <div class="form-group">
                <label asp-for="@Model.Content" class="control-label"></label>
                <input asp-for="@Model.Content" class="form-control" />
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
              </div>
              <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
              </div>
            </form>
            <hr data-brackets-id="12673">

            @foreach (var comment in Model.Product.Comments)
            {

              <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                <strong class="pull-left primary-font">@comment.UserEmail</strong>
                <small class="pull-right text-muted">
                  <span class="glyphicon glyphicon-time"></span>
                </small>
                <br />
                <li class="ui-state-default">@comment.Content</li>
              </ul>

            }
          </div>
        </div>
  </body>
</html>
