@if (ViewBag.cart != null)
{
<h3>Products List</h3>

  @foreach (var item in ViewBag.cart)
  {
    <div class="col mb-4">
      <div class="card">

        <img class="card-img-top" src="data:image/jpeg;base64,
          @Convert.ToBase64String(@item.Product.ProductFile.DataFiles)" />
        <div class="card-body">
          <h5 class="card-title">@item.Product.Name</h5>
          <p class="card-text">Price: @item.Product.Price</p>
          <p class="card-text">Description: @item.Product.Description</p>
          <a asp-controller="Product" asp-action="ViewDetails" asp-route-Id="@item.Product.Id" class="btn btn-outline-info mx-1">View Details</a>
        </div>
      </div>
    </div>
  }
}
else
{
  <center>

<p class="text-muted h1 text-md-center">Your shopping cart is empty ¯\_(ツ)_/¯</p>
  </center>
}