@if (ViewBag.cart != null && ViewBag.cart.Count > 0)

    {
      int quantity = 0;
      int total = 0;
      int option1 = 20, option2 = 30, option3 = 0;
    <section class="h-100 h-custom" style="background-color: lightslategrey;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      </div>
                      <hr class="my-4">

                      @foreach (var item in ViewBag.cart)
                      {
                        quantity = quantity + item.Quantity;
                        total = total + (item.Product.Price * item.Quantity);

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img class="card-img-top img-fluid rounded-3" src="data:image/jpeg;base64,
                          @Convert.ToBase64String(@item.Product.ProductFile.DataFiles)" />
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <h6 class="text-muted">@item.Product.Name</h6>
                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        Quantity: @item.Quantity
                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">Lei @item.Product.Price</h6>
                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <a asp-controller="Product" asp-action="ViewDetails" asp-route-Id="@item.Product.Id" class="btn btn-outline-primary mx-1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                          </svg>
                        </a>
                      <div>
                        <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-Id="@item.Product.Id" class="btn btn-outline-danger mx-1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                          </svg>
                        </a>
                      </div>
                      </div>

                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                        <hr class="my-4">

                      }

                      <div class="pt-5 align-bottom">
                        <h6 class="mb-0 ">
                          <a href="#!" class="text-body ">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary btn-sm">Back to shop</a>
                          </a>
                        </h6>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">@quantity</h5>
                        <h5>Lei @total</h5>
                      </div>

                      <h5 class="text-uppercase mb-3">Shipping</h5>

                      <div class="mb-4 pb-2">
                        <select class="select">
                          @if (total < 100)
                          {

                            <option value="1">Standard-Delivery- Lei @option1 </option>
                            <option value="2">Fast-Delivery - Lei @option2</option>
                          }
                          else
                          {
                            <option value="1">Free- Lei @option3 </option>

                          }
                        </select>
                      </div>

                      <h5 class="text-uppercase mb-3">Give code</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                          <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea2">Enter your code</label>
                        </div>
                      </div>

                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Lei @total</h5>
                        <h5> </h5>
                      </div>
                      
                      <button type="button" class="btn btn-dark btn-block btn-lg"
                              data-mdb-ripple-color="dark">
                        Buy
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  }

  else
  {

    <p class="text-muted h1 text-md-center">Your shopping cart is empty ¯\_(ツ)_/¯</p>
  }

